.about, .docu {
    @include pageContainer();
    padding: 0;
    height: calc(100% - 60px);
    h4 {
        font-family: $bodyFont;
        font-style: italic;
        font-weight: normal;
    }
    h2, h3 {
        font-family: $headingFont;
        font-style: italic;
        max-width: 80%;
        margin: 10px auto;
    }
    h3 {
        margin-bottom: 0;
        margin-top: 10px;
    }
    @include laTablet(){
        height: calc(100% - 40px);
    }
    @include laPhone(){
        padding: 0;
        height: 100%;
    }
  }

.aboutImages {
    width: 160px;
}

.aboutShow {
    margin-top: 50px;
}

.embedVideo {
    width: 700px;
    height: 340px;
    margin: 40px auto;
    // background: url(../Images/video-temp.jpg);
    background-size: cover;
    color: $primaryColorDark;
    padding-top: 10px;;
    @include smTablet(){
        width: 90vw;
        height: 45vw;
    }
}
.creditContainer {
    background: rgb(173, 173, 173);
    padding: 30px 0;
    height: fit-content;
    @include laPhone() {
        padding: 10px 0;
    }
}
p.aboutCredit, p.docuCredit {
    // font-size: 0.9em;
    line-height: 1.6em;
    text-align: center;
    margin: 10px auto;
    a {
        position: relative;
    &::after {
        content: "";
        height: 4px;
        width: 100%;
        background-color: $keyColorOne;
        position: absolute;
        bottom: -2px;
        left: 0;
        // z-index: -1;
    }
    &:nth-of-type(5n+0)::after {
        background-color: $keyColorTwo;
    }
    &:nth-of-type(5n+1)::after {
        background-color: $keyColorThree;
    }
    &:nth-of-type(5n+2)::after {
        background-color: $keyColorFour;
    }
    &:nth-of-type(5n+3)::after {
        background-color: $keyColorFive;
    }
    &:hover::after {
        height: 20px;
        opacity: 0.5;
        transition-duration: 300ms;
    }
    }
    .sm-icons {
        height: 20px;
        margin-right: 5px;
        margin-bottom: -5px;
    }
    .subsubHead {
        display: inline-block;
        margin-top: 10px;
    }
}

p.aboutCredit:first-of-type {
    @include laPhone(){
    margin: 0 auto 10px auto;
    }
}


#OSicon {
    width: 160px;
}

.logos img {
    width: 150px;
    margin: 20px 0 40px 0;
    @include laPhone(){
        width: 120px;
        margin: 20px 0 80px 0;
    }
}

.aboutMain {    
    background-color: $primaryColorDark;
    .homePanelsTop, .homePanelsBottom {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 150px;
        min-height: fit-content;
        z-index: 10;

        @include smTablet() {
            flex-direction: column;
            height: fit-content;
        }
        .homePanel {
            width: 50%;
            margin: 0;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                // font-size: 0.9em;
                line-height: 1.6em;
            }
            @include smTablet(){
                width: calc(100% - 8px);
                padding: 20px 0;
            }
            h2 {
                font-family: $headingFont;
                font-style: italic;
                margin: 0;
                @include laPhone {
                    font-size: 1.3em;
                }
            }
            p {
                width: 400px;
                max-width: 80%;
                text-align: center;
                margin: 10px auto;
            }
        }
    }
    .homePanelsTop{
        .homePanel {
            background: $primaryColorDark;
            border: $keyColorOne 4px solid;
            color: $primaryColorLight;
            transition-duration: 300ms;
            &:hover{
                background: $keyColorOne;
            }
            &:nth-of-type(2){
                border: $keyColorTwo 4px solid;
                &:hover{
                    background: $keyColorTwo;
                }
            }
        }
    }
    .homePanelsBottom{
        .homePanel {
            background: $primaryColorDark;
            color: $primaryColorLight;
            border: $keyColorThree 4px solid;
            transition-duration: 300ms;
            &:hover{
                background: $keyColorThree;
            }
            &:nth-of-type(1){
                border: $keyColorFour 4px solid;
                &:hover{
                    background: $keyColorFour;
                }
            }
        }
    }
    
    .heroBanner {
        width: 100%;
        height: 60vh;
        background-image:linear-gradient(0deg, rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.8)), url(../Images/opening-title.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        padding: 50px 0;
        z-index: 400;
        overflow-x: hidden;

        /* Hiding scrollbar */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
            overflow-y: hidden !important;
        &:hover {
            overflow-y: auto !important;
        }

        @include laPhone(){
            height: 60vh;
            min-height: fit-content;
            padding: 40px 0;
            position: relative;
            left: 0;
            top: 0;
            transform: translate(0, 0);
            margin: 0 auto;
        }
        .textWtap{
            width: 100%;
            height: calc(100% - 40px);
            margin: 20px 0;
            overflow: scroll;
            @include laPhone(){
                height: 100%;
                margin: 0;
            }
        p {
            text-align: justify;
            color: $primaryColorLight;
            @include smPhone(){
                text-align: left;
            }
        }
        .right {
            text-align: right;
        }
        h1 {
        text-align: center;
        color: $primaryColorLight;
        a {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 4px;
                width: 100%;
                background: $keyColorOne;
                left: 0;
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                bottom: -4px;
            }
            &:hover::after {
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
            }
            &:hover {
                color: $keyColorOne;
                transition-duration: 300ms;
            }
        }
    }

        }
        button {
            width: 300px;
            height: 40px;
            border: none;
            background: $primaryColorDark;
            color: $primaryColorLight;
            @include laPhone {
                width: 200px;
                height: 60px;
            }
            a {
                color: $primaryColorLight;
                font-family: $bodyFont;
                text-decoration: none;
            }
            &:hover {
                background: $keyColorOne;
                transition-duration: 300ms;
            }
        }
    }
}

