// This covers Explore and Help page

.explore, .help, .docu {
    @include pageContainer();
    padding: 40px 0 0 0;
    p {
        @include laPhone(){
            max-width: 90%;
        }
    }
    h2 {
        font-family: $headingFont;
        font-style: italic;
        margin: 20px auto 20px auto;
        max-width: 80%;
        width: 700px;
    }
    ol {
        width: 700px;
        max-width: calc(80% - 40px);
        text-align: left;
        margin: 10px auto;
        line-height: 1.5em;
    }
}
    #expTab, #HelpTab, #docuTab, #voiceTab {
        width: 700px;
        display: block;
        padding: 20px calc(50% - 350px) 20px calc(50% - 350px);
        margin: 20px auto 0 auto;
        background-color: $primaryColorDark;
        // border-bottom: $keyColorOne 5px solid;
        @include laTablet(){
            width: calc(100vw - 20vw);
            padding: 20px 10vw 20px 10vw;
        }
        @include laPhone(){
            width: calc(100vw - 10vw);
            padding: 14px 5vw 14px 5vw;
        }
        .tabs{
            list-style: none;
            width: fit-content;
            display: inline-block;
            font-family: $bodyFont;
            color: $primaryColorLight;
            padding: 10px 5px;
            font-weight: bold;
            font-size: 0.9em;
            letter-spacing: 0.05em;
            cursor: pointer;
            a { 
                padding: 8px 10px;
            &:hover {
                color: $keyColorOne;
                transition-duration: 300ms;
            }
            }
            .selectedTab {
                border-radius: 4px;
                background-color: $keyColorOne;
                color: $primaryColorLight;
                &:hover {
                  color: $primaryColorLight;
              }
            }
            @include laPhone(){
                padding: 7px 5px;
                a { 
                    padding: 6px 10px;
                }
            }
        }
    }
    @keyframes slidedown {
        0% {bottom: 0; opacity:0; background-color: #adadad;}
        50% {bottom: -40px; opacity:1;background-color: #adadad;}
        75% {bottom: -40px; opacity:1;background-color: $keyColorOne;}
        100% {bottom: -40px; opacity:1;background-color: #adadad;}
    }

    #HelpTab {
        position: relative;
        margin: 20px auto 80px auto;
        &::after {
            content: "Following services are for Singapore only.";
            height: 20px;
            width: calc( 100% - 20px);
            padding: 10px;
            font-family: $bodyFont;
            color: $primaryColorDark;
            background-color: #adadad;
            font-style: italic;
            position: absolute;
            animation: slidedown 2000ms ease-in-out;
            animation-fill-mode: forwards;
            // bottom: -40px;
            left: 0;
            display: block;
            @include smPhone() {
                font-size: 0.9em;
                height: auto;
                min-height: 20px;
            }
        }
    }

    #voiceTab{
     .tabs {
        padding: 10px 10px;
        &:hover {
            color: $keyColorOne;
            transition-duration: 300ms;
        }
        }
    }

.dataVizContainer, .helpContainer {
    margin: 40px auto 0 auto;
    @include laPhone(){
        margin: 30px auto 0 auto;
    }
    h3 {
        font-family: $headingFont;
        font-style: italic;
        font-size: 1.2em;
        background: rgb(173, 173, 173);
        padding: 10px;
        width: 700px;
        max-width: 90%;
        margin: 30px auto 40px auto;
        line-height: 1.2em;
    }
    .right {
        text-align: right;
    }
    .dataText {
        p {
            text-align: center;
            b, span {
                color: $keyColorOne;
            }
            span {
            font-size: 3em;
            font-family: $headingFont;
            font-style: italic;
            }
            @include laPhone(){
                max-width: 90%;
            }
    }
    }
    .dataSources {
        background: rgb(173, 173, 173);
        padding: 20px;
        @include laPhone(){
            padding: 20px 0 140px 0;
        }
        h4 {
            font-family: $bodyFont;
            font-style: italic;
            font-weight: normal;
            margin: 10px auto 0 auto;
        }
        p {
        text-align: center;
        font-size: 0.9em;
        margin-bottom: 50px;
        }
        a {
            text-decoration: underline;
        }
    }
    .storyHead {
        width: calc(700px - 20px);
        max-width: 90%;
        margin: 40px auto 20px auto;
        min-height: 20px;
        padding: 10px;
        background-color: rgb(173, 173, 173);
        font-family: $bodyFont;
        font-style: italic;
    }
    .sources {
        @include laPhone(){
            width: calc(90% - 40px);
            padding: 20px 20px 20px 20px;
        }
    }
    .helpList {
        margin-bottom: 50px;
        span {
            font-weight: bold;
            font-size: 1.2em;
            display: inline-block;
            margin: 50px 0 5px 0;
            position: relative;
            @include laPhone(){
                margin: 60px 0 5px 0;
            }
            &::after {
                content: "";
                width: 700px;
                max-width: 90vw;
                height: 1px;
                border-top: rgb(173, 173, 173) solid 1px;
                position: absolute;
                top: -30px;
                left: 0;
            }
            &:first-of-type {
                margin: 0 0 5px 0;
                @include laPhone(){
                    margin: 10px 0 5px 0;
                }
                &::after {
                    border-top:none
                }
            }

        }
    }
    .helpBtn {
        display: inline-block;
        padding: 10px 15px 10px 45px;
        margin: 14px 14px 8px 0;
        font-weight: bold;
        color: $primaryColorLight;
        min-height: 24px;
        width: auto;
        background-color: $keyColorOne;
        border-radius: 4px;
        @include laPhone(){
            padding: 8px 15px 6px 40px;
            margin: 10px 14px 10px 0;
        }
    &:nth-of-type(5n+0) {
        background-color: $keyColorTwo;
    }
    &:nth-of-type(5n+1) {
        background-color: $keyColorThree;
    }
    &:nth-of-type(5n+2) {
        background-color: $keyColorFour;
    }
    &:nth-of-type(5n+3) {
        background-color: $keyColorFive;
    }
    &:hover {
        opacity: 0.5;
        transition-duration: 300ms;
    }
    }

    .phone, .weburl, .email, .location {
    position: relative;
    &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: url(../Images/Phone_icon.svg);
    background-size: 36px 36px;
    background-position: 6px 3px;
    background-repeat: no-repeat;
    @include laPhone(){
        width: 32px;
        height: 32px;
        background-size: 30px 30px;
    }
    }
    }
    .weburl {
        &::before{
        background-image: url(../Images/Web_icon.svg);
        }
    }
    .email {
        &::before{
        background-image: url(../Images/Email_icon.svg);
        }
    }
    .location {
        &::before{
        background-image: url(../Images/Location_icon.svg);
        }
    }
    h2 {
        font-family: $headingFont;
        font-style: italic;
        margin: 30px auto 0 auto;
        max-width: 80%;
        @include laPhone(){
            max-width: 90%;
        }
    }
}
.helpContainer {
    margin: 40px auto 0 auto;
    @include laPhone(){
        margin: 50px auto 0 auto;
    }
}
.partners {
    padding: 40px 0 80px 0;
    margin: 0 auto;
    background-color: #adadad;
    h3 {
        background: $primaryColorLight;
        margin: 10px auto 40px auto;
    }
    .helpList {
        span{
            &::after {
                border-top: $primaryColorLight solid 1px;
            }
        }
        }
}

.dataVizImg {
    width: 700px;
    height: auto;
    max-width: 80%;
    margin: 20px auto;
    background-color: #adadad;
    border-radius: 4px;
    @include laPhone(){
        max-width: 90%;
    }
}

.helpLink {
    height: auto;
    font-family: $bodyFont;
    font-weight: bold;
    color: $primaryColorLight;
    width: 700px;
    max-width: 80%;
    padding: 10px 0;
    margin: 30px auto 50px auto;
    border-radius: 4px;
    background-color: $keyColorOne;
    &:hover {
        opacity: 0.5;
        transition-duration: 300ms;
    }
}
.disable {
    opacity: 0.5;
    cursor: pointer;
}

.watchBanner {
    width: 700px;
    min-height: 140px;
    max-width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    background: $primaryColorDark;
    border-radius: 4px;
    color: $primaryColorLight;
    border: $primaryColorDark solid 2px;
    &:hover {
        opacity: 0.6;
        transition-duration: 300ms;
    }
    @include smTablet(){
        max-width: 80%;
        display: block;
        height: auto;
        padding: 0 0 5px 0;
    }
    @include laPhone(){
        max-width: 90%;
    }
    .showThumb {
        width: 240px;
        min-height: 120px;
        overflow: hidden;
        background: $primaryColorLight;
        border-radius: 4px 0 0 4px;
        position: relative;
        margin: 30px 0 30px 20px;
        border-radius: 4px;
        img {
            width: auto;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        @include smTablet(){
            width: calc(100% - 100px);
            height: 200px;
            margin: 30px 50px;
            display: block;
            img {
            }
        }
        @include smPhone(){
            width: calc(100% - 60px);
            height: 150px;
            margin: 30px;
        }
    }
    .showInfo {
        width: 440px;
        height: 100%;
        margin: 20px 0;
        p.showInfoP {
            width: calc(100% - 40px);
            text-align: left;
            margin: 10px 20px;
            max-width: calc(100% - 40px);
            span {
                color: $keyColorOne;
                font-weight: bold;
            }
        }
        p.watchCTA {
            font-weight: bold;
        }
        @include smTablet(){
            width: 90%;
            margin: 20px auto;
            p {
                text-align: center;
                display: block;
                width: 100%;
                margin: 10px auto;
            }
        }
    }
}
p.sources {
    margin: 10px auto 20px auto;
    a {
        text-decoration: underline;
    }
}
h5.source-header {
    font-size: 1.1em;
    margin: 10px auto 0 auto;
    font-weight: normal;
    font-style: italic;
}

div.dataText p a {
    text-decoration: underline;
}