.headerContainer {
    @include dropShadow();
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
    position: fixed;
    top: 0;
    background: $primaryColorDark;
    display: flex;
    justify-content: space-between;
    font-family: $headingFont;
    font-style: italic;
    z-index: 900;
    @include laTablet {
        height: 20px;
    }
    .appName {
        width: 112px;
        height: 40px;
        background: url('../Images/StrangersInMyHead_logo.png');
        background-size: 112px 40px;
        // font-size: 1.1em;
        // line-height: 0.9em;
        // margin: 14px;
        // color: $primaryColorLight;
        &:hover {
            opacity: 0.5;
            transition-duration: 300ms;
            text-decoration: none;
        }
        @include laTablet {
            width: 200px;
            height: 20px;
            font-size: 1em;
            margin: 0 10px;
            background: url('../Images/StrangersInMyHead_logo_banner.png');
            background-size: 200px 20px;
        }
    }
    .nav {
        display: block;
        .screenMenu {
        margin: 10px 20px;
        padding-inline-start: 0;
        @include laTablet {
            display: none;
        }
            li{
            display: inline;
            list-style: none;
            margin: 0 16px;
            color: $primaryColorLight;
            font-family: $bodyFont;
            font-style: normal;
            font-size: 0.9em;
                a {
                text-decoration: none;
                color: $primaryColorLight;
                    &:hover{
                        color: $keyColorOne;
                        transition-duration: 300ms;
                    }
                    &::after{
                        @include afterUnderline();
                    }
                    &:hover::after{
                        @include hoverUnderline();
                    }
                }
            }
            li.moreLi {
                position: relative;
                img {
                    width: 30px;
                    margin: -10px 0;
                    cursor: pointer;
                }
                .moreMenu {
                    width: 100px;
                    height: fit-content;
                    background-color: $primaryColorDark;
                    position: absolute;
                    top: 30px;
                    right: -36px;
                    ul{
                        padding: 10px;
                        text-align: center;
                        li {
                            font-size: 1em;
                            line-height: 2.4em;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        img.mobileMenuIcon {
            width: 20px;
            display: none;
            margin: 0 10px;
            @include laTablet {
                display: inline-block;
            }
        }
    }
}
.headerLogos {
    padding-inline-start: 0;
    margin: 0;
    display: block;
    @include laTablet {
    display: none;
    }
    .headerLogo {
        width: 36px;
        height: 36px;
        display: inline-block;
        margin: 2px 10px;
        img {
            width: 36px;
            height: 36px;
        }
        &:hover {
            opacity: 0.5;
            transition-duration: 300ms;
        }
    }
}
// Mobile Nav //
.mobileMenu {
    width: calc(100vw - 20px);
    min-height: 100px;
    padding: 40px 10px 10px 10px;
    background: $primaryColorDark;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 800;
    ul {
        padding: 0;
    }
    ul li {
        list-style: none;
        margin: 32px auto;
        color: #ffffff;
        font-family: $bodyFont;
      }
      ul li a, ul li a:hover {
        text-decoration: none;
        color: #ffffff;
      }
      img.headerLogo {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 10px 10px 0 10px;
      }
  }
  .white-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(224, 224, 224 ,0.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 700;
  }