.home {
    @include pageContainer();
    margin-top: 0;
    padding: 40px 0 0 0;
    height: calc(100% - 40px);
    .homePanelsTop, .homePanelsBottom {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 35%;
        .homePanel {
            width: 50%;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-family: $headingFont;
                font-style: italic;
                margin: 0;
            }
            p {
                width: 400px;
                max-width: 80%;
                text-align: center;
            }
        }
    }
    .homePanelsTop{
        .homePanel {
            background: $keyColorOne;
            &:nth-of-type(2){
                background: $keyColorTwo;
                color: $primaryColorLight;
            }
        }
    }
    .homePanelsBottom{
        position: absolute;
        bottom: 0;
        .homePanel {
            background: $keyColorThree;
            &:nth-of-type(1){
                background: $keyColorFour;
                color: $primaryColorLight;
            }
        }
    }
    
    .heroBanner {
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        padding: 50px;
        p {
        text-align: center;
        }
        button {
            width: 300px;
            height: 40px;
            border: none;
            background: $primaryColorDark;
            color: $primaryColorLight;
            a {
                color: $primaryColorLight;
                font-family: $bodyFont;
                text-decoration: none;
            }
            &:hover {
                background: $keyColorOne;
                transition-duration: 300ms;
            }
        }
    }
}