@mixin optionPanels {
    @include dropShadow();
    width: calc(100vw - 80px);
    height: 60px;
    background: $primaryColorDark;
    position: fixed;
    bottom: 0;   
    color: $primaryColorLight;
    padding: 20px 40px;
    display: flex;
    @include smTablet(){
        width: calc(100vw - 40px);
        height: 140px;
        padding: 20px;
    }
    @include smPhone(){
        height: 170px;
        padding: 20px;
    }
}