/* ====== COLOR ====== */
$primaryColorDark: rgb(34, 34, 34);
$primaryColorLight: rgb(224, 224, 224);
$keyColorOne: rgb(255, 53, 98);
$keyColorTwo: rgb(31, 85, 92);
$keyColorThree: rgb(227, 132, 0);
$keyColorFour: rgb(86,16,86);
$keyColorFive: rgb(224, 96, 46);
$keyColorSix: rgb(233, 115, 109);

/* ====== FONTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
$headingFont: 'Playfair Display', serif;;
$bodyFont: 'Montserrat', sans-serif;

/* ====== GLOBAL ELEMENTS ====== */
// Link hover over effect
@mixin afterUnderline($color: $keyColorOne) {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: $color;
    bottom: -1px;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
@mixin hoverUnderline {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
// Dropshadow for overlapping elements
@mixin dropShadow {
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
}


/* ====== BREAK POINTS ====== */
$smPhone: 420px;
$laPhone: 600px;
$smTablet: 800px;
$laTablet: 960px;
@mixin smPhone {
    @media (max-width: #{$smPhone}) {
        @content;
    }
 }
 @mixin laPhone {
    @media (max-width: #{$laPhone}) {
        @content;
    }
 }
 @mixin smTablet {
    @media (max-width: #{$smTablet}) {
        @content;
    }
 }
 @mixin laTablet {
    @media (max-width: #{$laTablet}) {
        @content;
    }
}
@mixin laTabletLandcape {
    @media (max-width: #{$laTablet}) and (orientation: landscape) {
        @content;
    }
 }
 @mixin laTabletPortrait {
    @media (max-width: #{$laTablet}) and (orientation: portrait)    {
        @content;
    }
}

 /* ====== PAGE GLOBAL ====== */

 a {
     text-decoration: none;
     color: inherit;
 }

 @mixin pageContainer {
    width: 100%;
    height: calc(100% - 80px);
    text-align: center;
    margin-top: 60px;
    padding: 40px 0;
    color: $primaryColorDark;
    overflow: scroll;
    @include laTablet(){
        margin-top: 40px;
    }
    @include laPhone(){
        margin-top: 30px;
        height: calc(100% - 60px);
    }
    h1 {
        font-family: $headingFont;
        font-style: italic;
        width: 700px;
        max-width: 90%;
        margin: 0 auto;
        font-size: 1.8em;
        position: relative;
        @include smTablet() {
            font-size:1.6em
        }
        @include laPhone() {
            font-size:1.4em
        }
    }
    p {
        font-family: $bodyFont;
        line-height: 1.5em;
        width: 700px;
        max-width: 80%;
        text-align: justify;
        margin: 20px auto;
        @include laPhone() {
            text-align: left;
        }
    }
    h4 {
        margin: 30px auto 0 auto;
    }
 }

 .spacerM {
     height: 50px;
     width: 100%;
     @include laPhone(){
        height: 20px;
    }
 }

.Toastify__toast, .Toastify__toast--default {
    background-color: $keyColorOne !important;
    color: $primaryColorLight !important;
    font-size: 18px;
    font-family: $bodyFont !important;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center !important;
}
.postOption div.Toastify {
    z-index: 900;
    display: block;
    flex-wrap: unset;
    justify-content: unset;
}

iframe {
    border-width: 0;
}