.voices {
    @include pageContainer();
    p.center {
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        position: relative;
        &::before {
            content: "";
            width: 100%;
            max-width: 90vw;
            height: 1px;
            background-color: $primaryColorDark;
            position: absolute;
            top: -5px;
            left: 0;
        }
    }
  }

.voiceContainer {
    width: 100%;
    // margin: 40px auto;

    .allVoices {
        width: 80%;
        margin: 40px auto;
        height: 100%;
        // display: grid;
        // grid-gap: 20px;
        // grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
        // grid-auto-rows: min-content;

        @include laTablet() {
            // grid-gap: 10px;
            margin: 30px auto;
            width: 90%;
        }
        @include laPhone() {
            width: 90%;
            margin: 20px auto 60px auto;
        }
    }

    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -20px; /* gutter size offset */
        width: 100%;
        @include smTablet(){
            margin-left: -10px;
        }
        @include laPhone(){
            margin-left: 0;
        }
      }
      .my-masonry-grid_column {
        padding-left: 20px; /* gutter size */
        background-clip: padding-box;
        &:first-of-type{
            padding-left: 0;
        }
        &:last-of-type{
            padding-right: 20px;
            @include smTablet(){
                padding-right: 0;
            }
        }
        &:nth-of-type(4n+0){
            .voice {
                background: $keyColorThree;
                .readmoreBtn {
                    background-color: $primaryColorDark;
                    color: $keyColorThree;
                }
                &:nth-of-type(5n+0) {
                    background: $keyColorTwo;
                    color: $primaryColorLight;
                    .readmoreBtn {
                        background-color: $primaryColorLight;
                        color: $keyColorTwo;
                    }
                }
                &:nth-of-type(5n+1) {
                    background: $keyColorOne;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorOne;
                    }
                }
                &:nth-of-type(5n+2) {
                    background: $keyColorFour;
                    color: $primaryColorLight;
                    .readmoreBtn {
                        background-color: $primaryColorLight;
                        color: $keyColorFour;
                    }
                }
                &:nth-of-type(5n+3) {
                    background: $keyColorFive;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorFive;
                    }
                }
            }
        }
        &:nth-of-type(4n+1){
            .voice {
                background: $keyColorOne;
                .readmoreBtn {
                    background-color: $primaryColorLight;
                    color: $keyColorOne;
                }
                &:nth-of-type(5n+0) {
                    background: $keyColorFive;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorFive;
                    }
                }
                &:nth-of-type(5n+1) {
                    background: $keyColorFour;
                    color: $primaryColorLight;
                    .readmoreBtn {
                        background-color: $primaryColorLight;
                        color: $keyColorFour;
                    }
                }
                &:nth-of-type(5n+2) {
                    background: $keyColorTwo;
                    color: $primaryColorLight;
                    .readmoreBtn {
                        background-color: $primaryColorLight;
                        color: $keyColorTwo;
                    }
                }
                &:nth-of-type(5n+3) {
                    background: $keyColorThree;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorThree;
                    }
                }
            }
        }
        &:nth-of-type(4n+2){
            .voice {
                background: $keyColorFive;
                .readmoreBtn {
                    background-color: $primaryColorDark;
                    color: $keyColorFive;
                }

                &:nth-of-type(5n+0) {
                    background: $keyColorFour;
                    color: $primaryColorLight;
                    .readmoreBtn {
                        background-color: $primaryColorLight;
                        color: $keyColorFour;
                    }
                }
                &:nth-of-type(5n+1) {
                    background: $keyColorThree;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorThree;
                    }
                }
                &:nth-of-type(5n+2) {
                    background: $keyColorOne;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorOne;
                    }
                }
                &:nth-of-type(5n+3) {
                    background: $keyColorTwo;
                    color: $primaryColorLight;
                    .readmoreBtn {
                        background-color: $primaryColorLight;
                        color: $keyColorTwo;
                    }
                }
            }
        }
        &:nth-of-type(4n+3){
            .voice {
                background: $keyColorTwo;
                color: $primaryColorLight;
                .readmoreBtn {
                    background-color: $primaryColorLight;
                    color: $keyColorTwo;
                }
                &:nth-of-type(5n+0) {
                    background: $keyColorOne;
                    color: $primaryColorDark;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorOne;
                    }
                }
                &:nth-of-type(5n+1) {
                    background: $keyColorFive;
                    color: $primaryColorDark;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorFive;
                    }
                }
                &:nth-of-type(5n+2) {
                    background: $keyColorThree;
                    color: $primaryColorDark;
                    .readmoreBtn {
                        background-color: $primaryColorDark;
                        color: $keyColorThree;
                    }
                }
                &:nth-of-type(5n+3) {
                    background: $keyColorFour;
                    .readmoreBtn {
                        background-color: $primaryColorLight;
                        color: $keyColorFour;
                    }
                }
            }
        }
      }
}

.voice {
    padding: 20px;
    border-radius: 5px;
    // background: $keyColorThree;
    position: relative;
    margin: 20px 0;
    // &:nth-of-type(5n+0) {
    //     background: $keyColorTwo;
    //     color: $primaryColorLight;
    // }
    // &:nth-of-type(5n+1) {
    //     background: $keyColorOne;
    // }
    // &:nth-of-type(5n+2) {
    //     background: $keyColorFour;
    //     color: $primaryColorLight;
    // }
    // &:nth-of-type(5n+3) {
    //     background: $keyColorFive;
    // }
    h3 {font-size: 1em;}
    h3::before, h3::after {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        opacity: 0.5;
    }
    h3::before {
        content: url(../Images/quoteOpen.svg);
        left: 10px;
    }
    h3::after {
        content: url(../Images/quoteClose.svg);
        right: 10px;
    }
    .byline {
        font-size: 0.8em;
        text-align: center;
        margin: 10px auto;
    }
    .readmoreBtn {
        width: 100%;
        height: 30px;
        border-radius: 4px;
        border: none;
        opacity: 0.9;
        font-weight: bold;
        &:hover {
            opacity: 0.5;
            transition-duration: 300ms;
        }
    }
}

.postvoice {
    width: 220px;
    height: 220px;
    position: fixed;
    left: -330px;
    bottom: -170px;
    overflow: visible;
    z-index: 500;
    cursor: pointer;
    h4 {
        font-size: 0.7em;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -23px;
        left: 270px;
        margin: 0;
        opacity: 0;
        font-family: $bodyFont;
        font-weight: bold;
        color: $primaryColorLight;
        @include laPhone() {
            opacity: 0.5;
        }
    }
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        transform-origin: 100% 100%;
        transform: rotate(45deg);
        background: $primaryColorDark url(../Images/leftTriangleIcon.svg);
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-position: 60px -10px;
        @include dropShadow();
    }
    &:hover {
        h4 {
            opacity: 0.5;
            transition-duration: 300ms;
        }
        &::before {
        background: $keyColorOne url(../Images/leftTriangleIcon.svg);
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-position: 60px -10px;
        transition-duration: 300ms;
        }
    }
}

.promptPost {
    @include optionPanels();
    justify-content: center;
    transform: translateX(-100%);
    padding: 10px 40px;
    img {
        width: 60px;
    }
    h3 {
        margin-top: 20px;
        font-size: 1em;
    }
    @include smTablet(){
        height: 100px;
        h3 {
            margin-top: 40px;
        }
    }
    @include laPhone(){
        height: 100px;
        display: block;
        img {
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto;
        }
        h3 {
            margin-top: -15px;
            font-size: 0.8em;
        }
    }
}

.postOption {
    z-index: 450;
    @include optionPanels();
    height: calc(100% - 100px);
    display: block;
    h2 {
        font-family: $headingFont;
        font-style: italic;
        margin-top: 40px;
        @include laPhone(){
            font-size: 1.5em;
            margin-top: 20px;
        }
        @include smPhone(){
            font-size: 1.3em;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    @include laTablet(){
        height: calc(100% - 80px);
        padding: 20px;
        width: calc(100vw - 40px);
    }
    @include laPhone(){
        height: calc(100% - 80px);
    }
    .postInput {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        @include laPhone {
            width: 100%;
        }
        .quoteForm, .issueSelect {
        width: 500px;
        max-width: calc(100% - 70px);
        border-radius: 5px;
        border: none;
        padding: 10px;
        margin: 10px auto;
        background: $primaryColorDark;
        color: $primaryColorLight;
        font-family: $bodyFont;
        font-size: 1.1em;
        @include laTablet {
            max-width: calc(100% - 40px);
            font-size: 1.4em;
        }
        @include laPhone {
            width: 100%;
            padding: 10px 0;
            font-size: 1em;
        }
        }
        .quoteForm {
            height: 160px;
            @include smPhone {
                height: 120px;
            }
        }
        .errorMsg {
            display: block;
            margin: 10px auto;
            text-align: center;
            font-family: $bodyFont;
            color: $keyColorOne;
        }
        .issueSelect{
            display: block;
            height: fit-content;
            border-radius: 0;
            border-bottom: 1px solid $primaryColorLight;
        }
        .quoteBtn {
        display: block;
        width: 200px;
        height: 60px;
        margin: 30px auto 30px auto;
        border: none;
        border-radius: 4px;
        background-image: url(../Images/Send_btn.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: $keyColorOne;
        &:hover {
            opacity: 0.5;
            transition-duration: 300ms;
        }
        @include smPhone {
            height: 40px;
            margin: 30px auto 20px auto;
        }
        }
    }
}

.story {
    @include pageContainer();
    h1 {
        width: 700px;
        max-width: 90%;
        margin: 20px auto 30px auto;
        position: relative;
    }
    h3 {
        width: 700px;
        max-width: 90%;
        font-family: $headingFont;
        font-size: 1.4em;
        font-style: italic;
        margin: 30px auto 0 auto;
        @include laPhone(){
            font-size: 1.1em;
        }
    }
    p.storyText {
        margin-top: 10px;
        max-width: 90%;
    }
    p.storyText a {
        text-decoration: underline;
    }
    .helpLink {
        margin: 30px auto;
        width: 700px;
        max-width: 90%;
    }
    img.imageSingle {
        width: 700px;
        max-width: 90%;
        margin: 20px auto 30px auto;
    }
    img.imageDouble {
        display: inline;
        width: 40%;
        margin: 20px 10px 30px 10px;
        @include laPhone(){
            display: block;
            width: 90%;
            margin: 20px auto;
            &:last-of-type{
                margin: 20px auto 30px auto;
            }
        }
    }
    .storyList {
        width: calc(700px - 40px);
        max-width: calc(90% - 40px);
        margin: 20px auto;
        font-family: $bodyFont;
        font-size: 1em;
        line-height: 1.5em;
        text-align: left;
        li {
            margin-top: 10px;
        }
    }
    p.storyTextSource {
        width: calc(700px - 60px);
        max-width: calc(90% - 60px);
        background-color: rgb(173, 173, 173);
        padding: 30px;
        span {
            display: block;
            text-align: center;
            margin-bottom: 10px;
        }
        a {
            text-decoration: underline;
        }
    }
    p.right {
        text-align: right;
        width: 700px;
        max-width: 90%;
        a {
            text-decoration: underline;
        }
    }
    hr {
        margin: 40px 0;
    }
}

