@import "./Styles/variables";
@import "./Styles/header";
@import "./Styles/option-panels";
@import "./Styles/voices";
@import "./Styles/about";
@import "./Styles/soothing";
@import "./Styles/scene";
@import "./Styles/data";
@import "./Styles/docu";

.App {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: $primaryColorLight;
}

.demo {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 30%;
}


